* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  align-items: center;
  background-color: #323433;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

header h1 {
  color: #FFFFFF;
  font-size: 20px;
}

header h3 {
  color: #C0BFC5;
  font-size: 14px;
  text-decoration: underline;
}

.header-img {
  width: 70px;
}

#message {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#message p {
  font-size: 24px;
}

#tecnologies {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 640px;
}

.tech-img {
  align-items: center;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  box-shadow: 2.5px 3.5px rgb(202, 202, 202);
  display: flex;
  flex-direction: column;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding-top: 20px;
  width: 200px;
}

.tech-img h4 {
  color:  #606160;
}

.gallery-img {
  padding-top: 15px;
  width: 150px;
}

#tecnologies hr {
  margin-top: 20px;
  width: 25%;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
}