* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  align-items: center;
  background-color: #323433;
  display: flex;
  justify-content: space-evenly;
}

header h1 {
  color: #FFFFFF;
  font-size: 20px;
}

header h3 {
  color: #C0BFC5;
  font-size: 14px;
  text-decoration: underline;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
