main {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 50%;
}

button {
  font-size: 18px;
  font-weight: 800;
  height: 50px;
  margin-right: 10px;
  width: 250px;
}