html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (min-width:322px) and (max-width:599px) {
  *, *:before, *:after {
    font-size: 18px;
  }

  header {
    align-items: center;
    background-color: rgb(219, 216, 216);
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: center;
    left: 0;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
  }

  header p {
    font-weight: 800;
  }

  header nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  header nav ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    padding: 0;
    width: 100%;
  }

  header nav ul li {
    list-style: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
  }

  #asides {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    order: 0;
  }

  #asides h2 {
    text-align: center;
    font-size: 1.2em;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
  }

  .main-content h1 {
    font-size: 1.4em;
    text-align: center;
  }

  .main-content p {
    text-align: justify;
  }

  footer {
    background-color: black;
    color: whitesmoke;
    text-align: justify;
    padding: 5px 20px;
  }
}

@media screen and (min-width:600px) and (max-width:899px) {

  *, *:before, *:after {
    font-size: 18px;
  }

  header {
    background-color: rgb(219, 216, 216);
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
    margin-bottom: 30px;
  }

  header p {
    display: flex;
    font-weight: 800;
    justify-content: center;
    width: 50%;
  }

  header nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  header nav ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
  }

  header nav ul li {
    list-style: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #asides {
    display: flex;
    justify-content: space-evenly;
    order: 0;
    margin: 0 20px 30px;
  }

  #asides h2 {
    text-align: center;
    font-size: 1.3em;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 40px 30px;
    order: 1;
  }

  .main-content h1 {
    font-size: 1.5em;
    text-align: center;
  }

  .main-content p {
    text-align: justify;
  }

  footer {
    background-color: black;
    color: whitesmoke;
    text-align: justify;
    padding: 5px 20px;
  }
}

@media screen and (min-width:900px) and (max-width:1299px) {

  *, *:before, *:after {
    font-size: 18px;
  }

  header {
    background-color: rgb(219, 216, 216);
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
    margin-bottom: 30px;
  }

  header p {
    display: flex;
    font-weight: 800;
    justify-content: center;
    width: 50%;
  }

  header nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  header nav ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
  }

  header nav ul li {
    list-style: none;
  }

  .container {
    display: flex;
    margin: 0 40px 30px;
  }

  #asides {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    top: 0;
    height: 100%;
    position: sticky;
    width: 25%;
  }

  #asides h2 {
    text-align: center;
    font-size: 1.1em;
  }

  #asides ul li{
    font-size: 0.9em;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  .main-content h1 {
    font-size: 1.5em;
    text-align: center;
  }

  .main-content p {
    text-align: justify;
  }

  footer {
    background-color: black;
    color: whitesmoke;
    text-align: justify;
    padding: 5px 20px;
  }
}

