body {
  font-size: 16px;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    font-style:italic;
}

ul {
    background-color: rgb(250, 228, 191);
    line-height: 25px;
}

.background {
    background-color: rgb(201, 201, 230);
}

p {
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  text-decoration:underline;
}

#yellow {
  color: yellow;
}

#red {
  color: red;
}

#brown {
  color: brown;
}