ol li {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green
}
/* even = par */

ol li:nth-child(odd) {
    text-transform: uppercase; 
}
/* odd = ímpar */

li {
    font-size: 20px;
}

li > em {
    font-weight: bold;
}

h1, h2, h3 {
    color: red;
}

h1, h2, h3 > em {
    font-size: 40px;
    border: 1px black solid;
}